@use '../../spr-shared' as *;

.po-summary-page {
  .summary-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    align-items: start;
  }
}

@media print {
  .po-summary-page {
    .summary-body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }
}
